#expense-modal.modal-overlay(expense-modal, ng-click="closeModal()")
    .modal.card(role="dialog", ng-click="$event.stopPropagation();")
        .card__header
            button.button.button--close.close-modal(ng-click="closeModal()")
                i.icon.icon--close(aria-label="Close modal")
            h1.h3 New expense
        .card__body
            form(novalidate, name="newExpense")
                .form-group.span-6(ng-class="{'is--invalid': newExpense.date.$invalid && newExpense.date.$touched, 'is--valid': newExpense.date.$valid}")
                    label(for="date").label Date
                        span.label__error-message Date is required
                    input(type="date", name="date", ng-model="newExpense.date", date-input, required).control
                    span(aria-hidden="true", class="form-group__validation-icon")
                .form-group(ng-class="{'is--invalid': newExpense.department.$error.required}")
                    label(for="department").label Department
                    select.control(ng-model="newExpense.department", ng-options="item for item in departments", ng-init="expense.department = departments[13]", name="department", required)
                .form-group(ng-class="{'is--invalid': newExpense.ledger.$error.required}")
                    label(for="ledger").label Ledger
                    select.control(ng-model="newExpense.ledger", ng-options="item for item in ledgers", ng-init="expense.ledger = ledgers[0]", name="ledger", required)
                .form-group(ng-class="{'is--invalid': newExpense.vendor.$invalid && newExpense.vendor.$touched, 'is--valid': newExpense.vendor.$valid}")
                    label(for="vendor").label Vendor
                        span.label__error-message Vendor is required
                    input(type="text", ng-model="newExpense.vendor", name="vendor", required).control
                    span(aria-hidden="true", class="form-group__validation-icon")
                .form-group(ng-class="{'is--invalid': newExpense.description.$invalid && newExpense.description.$touched, 'is--valid': newExpense.description.$valid}")
                    label(for="description").label Description of Expense
                        span.label__error-message Description is required
                    input(type="text", ng-model="newExpense.description", name="description", required).control
                    span(aria-hidden="true", class="form-group__validation-icon")
                .form-group(ng-class="{'is--invalid': newExpense.reason.$invalid && newExpense.reason.$touched, 'is--valid': newExpense.reason.$valid}")
                    label(for="reason").label Business Reason for Purchase
                        span.label__error-message Business reason is required
                    input(type="text", ng-model="newExpense.reason", name="reason", required).control
                    span(aria-hidden="true", class="form-group__validation-icon")
                .form-group.span-8(ng-class="{'is--invalid': newExpense.amount.$invalid && newExpense.amount.$touched, 'is--valid': newExpense.amount.$valid}")
                    label(for="amount").label Amount (USD)
                        span.label__error-message Amount is required
                    input(type="number", ng-model="newExpense.amount", name="amount", min="0.01", step="0.01", required).control
                    span(aria-hidden="true", class="form-group__validation-icon")
                .form-group(file-upload)
                    label(for="receipt").label Receipt
                        span.label__error-message Receipt is required for expenses over $50.00
                    input(style="display:none" type="file", name="receipt", ng-required="expense.amount > 50")
                    div.receipt(ng-repeat="receipt in expense.receipts")
                        p.receipt__title.u--ellipsis {{ receipt.title }} 
                            span {{receipt.size}}
                        button.receipt__delete
                            i.icon.icon--close(ng-click="removeReceipt(receipt)", aria-label="Remove {{ receipt.title }} receipt")
                    div
                        button.button(ng-hide="uploadInProgress") Select File
        .card__footer
            button.button(ng-click="closeModal()") Cancel
            button.button.button--primary(ng-disabled="newExpense.$invalid", ng-click="save(newExpense)") Submit




