doctype html
html(lang="en")
    head
        meta(charset="utf-8")
        meta(http-equiv="X-UA-Compatible", content="IE=edge")
        link(rel="shortcut icon", type="image/x-icon", href="favicon.ico")
        title How Light
        link(rel="stylesheet", href="https://fonts.googleapis.com/css?family=Space+Mono:400,700")
        link(rel="stylesheet", href="css/how-light.css")
    body
        .aside
            h1 How Light?
            .row
                .form-group
                    label(for="background-color") Background Color
                    input(id="background-color", type="text", value="#ffffff")
                .form-group
                    label(for="text-color") Text Color
                    input(id="text-color", type="text", value="#000000")
        .preview
            h2#text-val 
            p Lorem ipsum dolor sit amet, consectetur adipisicing elit. Similique, incidunt illum quasi, tenetur dolorem dignissimos culpa ex, et in ducimus commodi omnis praesentium tempore itaque dicta! Incidunt libero, pariatur vitae?
        script(src="js/how-light.js")
