* {
    box-sizing: border-box;
}

html {
    font-size: 18px;
}

body {
    color: #333;
	font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Helvetica, Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
    font-size: 100%;
    line-height: 1.5;
	min-height: 100vh;
	padding: 4rem 2rem;
}

main {
	max-width: 24rem;
	margin: 0 auto;
}

select,
input {
	background-color: transparent;
	border: 0;
	border-bottom: $border;
	text-align: center;
	padding: 0;
	font-family: Consolas, "Liberation Mono", Menlo, Courier, monospace;
	font-size: .875rem;
	width: 8rem;

	
	&.small {
		width: 4rem;
	}

	&:focus {
		outline: none;
		border-color: blue;
	}
}

select {
	border-radius: 0;
	width: 5rem;
	text-align-last: center;
	appearance: none;
}

.code {
    font-family: Consolas, "Liberation Mono", Menlo, Courier, monospace;
    padding: 0;
    padding-top: 0.2em;
    padding-bottom: 0.2em;
    margin: 0;
    font-size: 85%;
    background-color: rgba(0,0,0,0.04);
    border-radius: 3px;
    text-transform: uppercase;

	&:before,
	&:after {
	    letter-spacing: -0.2em;
	    content: "\00a0";
	}
}

.green {
	// color: green;
}

.red {
	// color: red;
}


